body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #D9D9D9;
    background-color: #2e2e31;
}

/* header styles */
.site-navigation-item a {
    font-size: 20px;
    color: #D9D9D9;
    text-transform: uppercase;
    text-decoration: none;
}


.main-header {
    height: 650px;
    margin: 0px auto;
    padding: 15px 0px;
    background-image: radial-gradient(circle, #414d63, #0d8168);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}



.main-nav {
    width: 1150px;
    margin: 0px auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border: 3px solid #D9D9D9; 
}

.main-nav a {
    line-height: 24px;
}

.logo {
    width: 130px;
    height: 53px;
    margin-right: 290px; 
    margin-top: 0;
    margin-bottom: 0;
}

.site-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 840px;
  display: flex;
  flex-wrap: wrap;
  
}

.site-navigation-item {
    margin-right: 100px;
  }

  .site-navigation-item:last-of-type {
    margin-right: 0px;
  }

  .main-nav .account {
    display: flex;
    height: 36px;
    width: 36px;

    align-items: center;
    justify-content: center;
    margin: auto;
}

.block-text {
    display: flex;
    justify-content: space-between;
    width: 1150px;;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.block-text img {
    margin-top: 80px;
    margin-left: -220px;
}

.b-text {
    width: 600px;
    font-size: 35px;
    line-height: 60px;
    color: #D9D9D9;
}

.view-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: flex-end;
    gap: 15px;
    padding: 0;
    padding-right: 50px;
    list-style: none;
}

.view-buttons button {
    width: 10px;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(80, 84, 83);
    border: none;
    border-radius: 100%;
    cursor: pointer;

}

.view-buttons button:hover {
    opacity: 0.5;
  }
  
.view-buttons button:active {
    opacity: 0.3;
  }
  
.view-buttons .active {
    background-color: rgb(9, 131, 153);
  }







/* services*/

.services {
    display: flex;
    align-items: center;
    
    width: 1150px;
    margin: 0 auto;
    
    border: 3px solid #850c0c; 
    
}

.service-color {
    background-color: #4f646e;
}

.service-card-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0;
   
    list-style: none;
    border: 3px solid #D9D9D9; 
}


.service-button {
    border: none;
    background-image: linear-gradient(0.55turn, #303331, #4f646e);
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    height: 200px;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.3s;
}

.service-button-image {
    align-self: flex-end;
    width: 130px;
    height: 130px;
    transition: transform 0.3s;
}

.service-button-text {
    align-self: flex-start;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    color: #D9D9D9;

}

.service-button-image:hover {
    transform: scale(1.1);
}


/* form section */


.form-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1150px;

    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    
    border: 3px solid #0c1685; 
}




.form-section-text {
    margin-left: 30px;
    font-size: 30px;
    line-height: 40px;
    color: #D9D9D9;

}

/* Форма */

.login-box {
    
    padding: 40px;
    margin-right: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }

    /* Кнопка в форме */

    .login-box-button p {
    margin: 0;
    font-size: 25px;
    padding: 5px 10px;
    color: #010101;
  }
  
  .login-box-button {
    text-decoration: none;
    border: 1px solid rgb(144, 144, 157);
    position: relative;
    overflow: hidden;
  }
  
  .login-box-button:hover {
    box-shadow: 1px 1px 25px 10px rgba(120, 120, 129, 0.4);
  }
  
  .login-box-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(147, 135, 143, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
  .login-box-button:hover:before {
    left: 100%;
  }

  /* Бренды с которыми работаем */

  .brend-job{
    background-color: #4f646e;
    
}

.brends {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1150px;
    margin: 0 auto;
    
    border: 3px solid #0c1685; 
}

.brends-list {
    border: 3px solid #c11bda; 
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
}

.brends-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 100px;
    border-radius: 30px;
    background-color: #D9D9D9;
    border-color: #0d8168;
}

.brends-item-image {
    width: 140px ;
    height: 45px;

}


/* about (О нас) */


.about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1150px;
    margin: 0 auto;
    border: 3px solid #14a0cf; 
}

.about-list {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 3px solid #14a0cf; 
}


/* reviews (Отзывы) */

.reviews {
    
    background-color: #3c3838;
}

.reviews-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1150px;
    margin: 0 auto;
    border: 3px solid #e12211; 
}

.reviews-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0;
    border: 3px solid #119fe1; 
    list-style: none;
}

.reviews-item-form {
    
    background-image: linear-gradient(0.55turn, #303331, #4f646e);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 350px;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.3s;
}

.reviews-item-img-chel {
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 15px;
    align-self: flex-start;
}

.reviews-item-text {
    padding-right: 20px;

}





